version: "3.9"
services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.app
    ports:
      - "8000:8000"
    environment:
      - LLM_MODEL=${LLM_MODEL:-llama3.1:8b}
      - EMBED_MODEL=${EMBED_MODEL:-sentence-transformers/all-MiniLM-L6-v2}
      - INDEX_DIR=${INDEX_DIR:-/var/index}
    volumes:
      - ../var/index:/var/index
    depends_on:
      - ollama

  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ui
    ports:
      - "3000:3000"
    environment:
      - API_BASE=http://api:8000
      - NEXT_PUBLIC_APP_NAME=${NEXT_PUBLIC_APP_NAME:-Clinical Trials Copilot}
    depends_on:
      - api

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  airflow:
    build:
      context: ..
      dockerfile: docker/Dockerfile.airflow
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ../airflow/dags:/opt/airflow/dags

volumes:
  ollama: {}

